<table border=1 cellpadding=5 width=100%>
  <tr>
    <th>Status</th>
    <th>Today</th>
    <th>Tomorrow</th>
    <th>Questions</th>
    <th>User</th>
  </tr>
  {{#each standups}}
    <tr>
      <td>{{status}}</td>
      <td>{{today}}</td>
      <td>{{tomorrow}}</td>
      <td>{{questions}}</td>
      <td>{{user}}</td>
    </tr>
  {{/each}}
</table>
