<header>
  {{#linkTo index}}<button>Home</button>{{/linkTo}}
  {{#linkTo updates}}<button>Updates</button>{{/linkTo}}
</header>

<div class=new-standup>
  <h3>Submit a new standup</h3>
  <form {{action "submit" on="submit"}} class=standup-form>
    <p>
      <label for=status>Status</label>
      {{view Ember.Select contentBinding="App.status.content" valueBinding="App.status.value" name="status" id="status"}}
    </p>
    <p>
      <label for=today>Today</label>
      {{textarea valueBinding="today" name="today" id="today"}}
    </p>
    <p>
      <label for=tomorrow>Tomorrow</label>
      {{textarea valueBinding="tomorrow" name="tomorrow" id="tomorrow"}}
    </p>
    <p>
      <label for=questions>Questions/Issues</label>
      {{textarea valueBinding="questions" name="questions" id="questions"}}
    <p>
      <label for=user>User</label>
      {{input valueBinding="user" type="text" name="user" id="user"}}
    </p>
    <input type=submit />
    {{#linkTo updates}}<button>View All</button>{{/linkTo}}
  </form>
</div>