<div class=new-standup>
  <h3>Submit a new standup</h3>
  <form {{action "submit" on="submit"}}>
    <p>
      <label for=status>Status</label>
      {{view Ember.Select contentBinding="App.status.content" valueBinding="App.status.value" name=status id=status}}
    </p>
    <p>
      <label for=today>Today</label>
      {{textarea value=today id=today}}
    </p>
    <p>
      <label for=tomorrow>Tomorrow</label>
      {{textarea value=tomorrow id=tomorrow}}
    </p>
    <p>
      <label for=questions>Questions/Issues</label>
      {{textarea value=questions id=questions}}
    <p>
      <label for=user>User</label>
      {{input value=user type="text" id=user}}
    </p>
    <input type=submit />
    {{#linkTo updates}}<button>View All</button>{{/linkTo}}
  </form>
</div>