<header>
  {{#linkTo index}}<button>Home</button>{{/linkTo}}
  {{#linkTo updates}}<button>Updates</button>{{/linkTo}}
</header>

<table border=1 cellpadding=5 width=90% class=updates-table>
  <tr>
    <th>Status</th>
    <th>Today</th>
    <th>Tomorrow</th>
    <th>Questions/Issues</th>
    <th>User</th>
  </tr>
  {{#each model}}
    {{#if id}}
      <tr>
        <td>{{status}}</td>
        <td>{{today}}</td>
        <td>{{tomorrow}}</td>
        <td>{{questions}}</td>
        <td>{{user}}</td>
      </tr>
    {{/if}}
  {{/each}}
</table>
